<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Members Club</title>

    <script src="/index.js"></script>
</head>
<body>
    <h1>Welcome to the Club, Buddy!</h1>

    <div>
        <h3>New member</h3>
        <form method="post" action="/">
            <label for="member-name">
                Name:
                <input type="text" name="name" id="member-name">
            </label>
            <label for="member-email">
                Email:
                <input type="text" name="email" id="member-email">
            </label>

            <input type="submit" value="Add" id="submit-member">
            <button id="clear-member">Clear</button>
        </form>

        <span>{{message}}</span>
    </div>

    <div>
        <h3>Members</h3>
        {{#if membersList}}
            <table>
                <thead>
                <tr>
                    <td>#</td>
                    <td>Name</td>
                    <td>Email</td>
                    <td>Registration date</td>
                </tr>
                </thead>
                <tbody>
                    {{#each membersList}}
                        <tr>
                            <td>{{id}}</td>
                            <td>{{name}}</td>
                            <td>{{email}}</td>
                            <td>{{formatDate registration_date}}</td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>
        {{else}}
            <span>There is no members yet.</span>
        {{/if}}
    </div>
</body>
</html>